// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/theming';
@include mat-core();

$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn:    mat-palette($mat-red);

$candy-app-theme: mat-light-theme(
    $candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);

.dark-theme {
    $primary-dark: mat-palette($mat-pink, 700);
    $accent-dark: mat-palette($mat-green);
    $warn-dark: mat-palette($mat-red);

    $theme-dark: mat-dark-theme($primary-dark, $accent-dark, $warn-dark);

    @include angular-material-theme($theme-dark);
}

body {
    margin: 0;
}